<nav class="navbar navbar-expand-lg navbar-custom fixed-top">
  <div class="container-fluid d-flex justify-content-between align-items-center">
    <div>
      <a class="navbar-brand" href="/"><span class="discover">Discover</span>&nbsp;<span class="me">Me</span></a>
    </div>
    
    <ng-container *ngIf="isloggedIn$ | async; let loggedIn">
      <div class="dropdown" *ngIf="loggedIn">
        <a *ngIf="user?.userName" class="dropbtn btn text-white username">{{ user.userName }}</a>
        <div id="myDropdown" class="dropdown-content text-white">
          <a class="text-white" href="">Home</a>
          <a class="text-white" href="profile">Profile</a>
          <a class="text-white" (click)="logout()">Logout</a>
        </div>
      </div>
    </ng-container>
  </div>
</nav>
