<nav class="navbar navbar-expand-lg navbar-custom fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><span class="discover">Discover</span>&nbsp;<span class="me">Me</span></a>
    <ng-container *ngIf="isloggedIn$ | async; let loggedIn">
      <div class="dropdown" *ngIf="loggedIn">
        <!-- <a *ngIf="user$ | async as user" class="dropbtn btn text-white">{{ user.stageName }}</a> -->
        <a *ngIf="user.stageName" class="dropbtn btn text-white">{{ user.stageName }}</a>
        <div id="myDropdown" class="dropdown-content text-white">
          <a class="text-white" href="">Home</a>
          <a class="text-white" href="profile">Profile</a>
          <a class="text-white" (click)="logout()">Logout</a>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="!(isloggedIn$ | async) && containsNonAuthPath()">
      <a class="btn btn-rounded text-white dropbtn" href="signin">Sign In</a>
    </ng-container>
  </div>
</nav>
