<app-header></app-header>
<app-cover></app-cover>
<!--<header>-->
<!--  <div class="header-top">-->
<!--    <div class="header">-->
<!--      <div class="container">-->
<!--        <div class="row">-->
<!--          <div class="col-xl-2 col-lg-2 col-md-2 col-sm-3 col logo_section">-->
<!--            <div class="full">-->
<!--              <div class="center-desk">-->
<!--                <div class="logo">-->
<!--                  <a href="index.html"><img src="assets/logo.png" alt="#" /></a>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="col-xl-10 col-lg-10 col-md-10 col-sm-9">-->
<!--            <div class="menu-area">-->
<!--              <div class="limit-box">-->
<!--                <nav class="main-menu ">-->
<!--                  <ul class="menu-area-main">-->
<!--                    <li class="active"> <a href="index.html">Home</a> </li>-->
<!--&lt;!&ndash;                    <li> <a href="about.html">About</a> </li>&ndash;&gt;-->
<!--&lt;!&ndash;                    <li> <a href="concerts.html">Concerts </a> </li>&ndash;&gt;-->
<!--&lt;!&ndash;                    <li> <a href="gallery.html">Gallery</a> </li>&ndash;&gt;-->
<!--&lt;!&ndash;                    <li> <a href="contact.html">Contact</a> </li>&ndash;&gt;-->
<!--                    <li> <app-login-button>Login</app-login-button> </li>-->
<!--&lt;!&ndash;                    <li > <a   href="#contact">login</a> </li>&ndash;&gt;-->
<!--                    <li  > <a  class="last_manu" href="#"><img src="assets/search_icon.png" alt="#" /></a> </li>-->
<!--                  </ul>-->
<!--                </nav>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
    <!-- end header inner -->

    <!-- end header -->
<!--    <section class="slider_section">-->
<!--      <div id="myCarousel" class="carousel slide" data-ride="carousel">-->
<!--        <ol class="carousel-indicators">-->
<!--          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>-->
<!--          <li data-target="#myCarousel" data-slide-to="1"></li>-->
<!--          <li data-target="#myCarousel" data-slide-to="2"></li>-->
<!--        </ol>-->
<!--        <div class="carousel-inner">-->
<!--          <div class="carousel-item active">-->
<!--            <div class="container">-->
<!--              <div class="carousel-caption">-->
<!--                <div class="row">-->
<!--                  <div class="col-md-12">-->
<!--                    <div class="text-bg">-->
<!--                      <span>The Best</span>-->
<!--                      <h1>MUSIC BAND EVER</h1>-->
<!--                      <p>It is a long-established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look</p>-->
<!--                      <a href="#">Music & Entertainment</a> <a href="#">Buy Tickets </a>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="carousel-item">-->

<!--            <div class="container ">-->
<!--              <div class="carousel-caption">-->

<!--                <div class="row">-->
<!--                  <div class="col-md-12">-->
<!--                    <div class="text-bg">-->
<!--                      <span>The Best</span>-->
<!--                      <h1>MUSIC BAND EVER</h1>-->
<!--                      <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look</p>-->
<!--                      <a href="#">Music & Entertainment</a><a href="#">Buy Tickets </a>-->
<!--                    </div>-->
<!--                  </div>-->

<!--                </div>-->
<!--              </div>-->
<!--            </div>-->

<!--          </div>-->
<!--          <div class="carousel-item">-->
<!--            <div class="container">-->
<!--              <div class="carousel-caption ">-->
<!--                <div class="row">-->
<!--                  <div class="col-md-12">-->
<!--                    <div class="text-bg">-->
<!--                      <span>The Best</span>-->
<!--                      <h1>MUSIC BAND EVER</h1>-->
<!--                      <p>It is a long-established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look</p>-->
<!--                      <a href="#">Music & Entertainment</a> <a href="#">Buy Tickets </a>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--        <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">-->
<!--          <i class="fa fa-long-arrow-left" aria-hidden="true"></i>-->
<!--        </a>-->
<!--        <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">-->
<!--          <i class="fa fa-long-arrow-right" aria-hidden="true"></i>-->
<!--        </a>-->
<!--      </div>-->
<!--    </section>-->
<!--  </div>-->
<!--</header>-->
