<app-header></app-header>
<section class="section" id="main-container">
  <div class="floating-add-button bottom-0 end-0 rounded-circle m-4" style="position: fixed;" *ngIf="!(isProjectLimitReached$ | async)">
    <a [routerLink]="['/project']" class="btn btn-primary btn-lg">
      <i class="fa fa-plus"></i>
    </a>
  </div>
  <div class="d-flex justify-content-between align-items-center">
    <form class="form-inline my-2 my-md-0" [formGroup]="searchForm" (ngSubmit)="setSearch($event)">
      <div class="input-group">
        <input class="form-control" type="text" name="search" [formControlName]="'search'"
          placeholder="Search Stage Or Song Name..." aria-label="Search">
        <div class="input-group-append">
          <button type="submit" class="btn btn-secondary">
            <i class="fa fa-search" aria-hidden="true"></i>
          </button>
        </div>
      </div>
    </form>
    <form class="text-left">  
      <select class="form-control" name="sort">
        <option value="id" selected>Default Sorting (All Projects)</option>
        <option value="name">(A-Z) Alphabetical</option>
        <option value="priceMp3">Price</option>
      </select>
    </form> 
  </div>
  <hr>
  <ng-container *ngIf="(appState$ | async) as appState" [ngSwitch]="appState.dataState">
    <ng-container *ngSwitchCase="DataState.EMPTY_STATE">
      <div class="col-md-12 text-center my-3">
        <div class="alert alert-info">
          No Projects Registered.
        </div>
      </div>
    </ng-container>
    <!-- <ng-container *ngSwitchCase="DataState.LOADED_STATE">
      <ng-container *ngIf="appState.appData['content'].length > 0">
        <div class="row align-items-center">
          <div class="col-4" *ngFor="let project of appState.appData['content']; let i=index">
            <div class="card">
              <video appVideoHover [src]='fileurl+"/"+project.contentUri' width="1424" class="card-img-top" controls
                muted loop>
              </video>
              <div class="card-body d-flex justify-content-between align-items-center">
                <div>
                  <h5 class="card-title">{{ project.songTitle }}</h5>
                  <h6 class="font-weight-bold">{{ project.stageName }}</h6>
                  <span [class]="getSocialIconClass(project.social?.name ?? '')"></span>
                  <h6 class="card-text">Support Level: <span class="text-success font-weight-bold">{{
                      project.percentOfSupport ?? 0 }}%</span></h6>
                </div>
                <button class="btn btn-success" (click)="onSupportButtonClick(project)">
                  {{ project.isSupported ? 'Unsupport' : 'Support' }}
                </button>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </ng-container> -->
    
    <ng-container *ngSwitchCase="DataState.LOADED_STATE">
      <ng-container *ngIf="appState.appData['content'].length > 0">
          <div class="row align-items-center">
              <div class="col-12 col-md-4" *ngFor="let project of appState.appData['content']; let i=index">
                  <div class="card">
                      <video appVideoHover [src]='fileurl+"/"+project.contentUri' class="card-img-top" controls muted loop></video>
                      <div class="card-body d-flex justify-content-between">
                          <div class="content-info">
                              <h5 class="card-title">{{ project.songTitle }}</h5>
                              <h6 class="font-weight-bold">{{ project.stageName }}</h6>
                              <span [class]="getSocialIconClass(project.social?.name ?? '')"></span>
                              <h6 class="card-text">Support Level: <span class="text-success font-weight-bold">{{ project.percentOfSupport ?? 0 }}%</span></h6>
                          </div>
                          <button class="btn btn-success mt-2 mt-md-0 align-self-center">
                              {{ project.isSupported ? 'Unsupport' : 'Support' }}
                          </button>
                      </div>
                  </div>
              </div>
          </div>
      </ng-container>
  </ng-container>

    <ng-container *ngSwitchCase="DataState.LOADING_STATE">
      <div class="col-md-12 single-note-item text-center">
        <div class=" spinner-border text-info"></div>
      </div>
    </ng-container>
    <ng-container *ngSwitchCase="DataState.ERROR_STATE">
      <div class="alert alert-danger p-3">
        Resource Unavailable, Check Again Later !!!
      </div>
    </ng-container>
  </ng-container>
  <ul class="nav nav-pills">
    <li class="nav-item" *ngFor="let p of pages; let i=index">
      <a class="nav-link" href="#" (click)="setPage(i,$event)" [ngClass]="{'active':i==page}">{{i}}</a>
    </li>
  </ul>
</section>