<section class="section">
    <form class="container form">
        <div class="mb-3">
            <input type="text" placeholder="Enter Song Title" class="form-control" id="exampleInputEmail1">
        </div>
        <div class="mb-3">
            <input type="text" placeholder="Enter Link" class="form-control" id="exampleInputEmail1">
        </div>
        <div class="mb-3">
            <input type="file" class="form-control" id="exampleInputPassword1">
        </div>
        <div class="mb-3">
            <select class="form-select" aria-label="Default select example">
                <option selected>Select Platform</option>
                <option value="1">Facebook</option>
                <option value="2">Instagram</option>
                <option value="3">TikTok</option>
                <option value="4">Twitter</option>
              </select>
        </div>
        <a href="home" class="btn btn-secondary">Back</a> &nbsp;
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</section>