<app-header></app-header>
<section class="section">
    <form class="container form" [formGroup]="addProjectForm" (ngSubmit)="saveProject()">
        <div class="mb-3">
            <input type="text" [formControlName]="'title'" name="title" placeholder="Enter Song Title" class="form-control" id="exampleInputEmail1">
        </div>
        <div class="mb-3">
            <input type="url" [formControlName]="'link'" name="link" placeholder="Enter Link" class="form-control" id="exampleInputEmail1">
        </div>
        <div class="mb-3">
            <input type="file" (change)="onSelectVideo($event)" [formControlName]="'file'" accept=".mp4,.mov" name="file" class="form-control" id="exampleInputPassword1">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlSelect1">Select Platform</label>
            <select class="form-select" [formControlName]="'social'" [(ngModel)]="defaultSelectedPlatform" name="social" aria-label="Default select example">
                <option [value]="s.id" *ngFor="let s of socials;" id="exampleFormControlSelect1">{{s.name}}</option>
              </select>
        </div>
        <a [routerLink]="['/home']" class="btn btn-secondary">Back</a> &nbsp;
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</section>