<section class="section align">
    <div class="container grid">
        <form [formGroup]="form" (ngSubmit)="login()" class="form login">
            <h3 class="text--center text-secondary pt-2">Login Here</h3>
            <div class="form__field">
                <label for="login__username"><svg class="icon">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#user"></use>
                    </svg><span class="hidden">Phone no</span></label>
                <input id="login__username" type="email" formControlName="email" class="form__input" placeholder="Email"
                    required>
            </div>

            <div class="form__field">
                <label for="login__password"><svg class="icon">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#lock"></use>
                    </svg><span class="hidden">Password</span></label>
                <input id="login__password" type="password" formControlName="password" name="password"
                    class="form__input" placeholder="Password" required>
            </div>
            <div class="form__field">
                <button type="submit">
                    <ng-container *ngIf="isLoading$ | async">
                        <i class="fa fa-spinner fa-spin"></i> &nbsp;&nbsp;
                        <span *ngIf="isLoading$ | async">Processing...</span>
                    </ng-container>
                    <ng-container *ngIf="!(isLoading$ | async)">
                        <span>Sign In</span>
                    </ng-container>
                </button>
            </div>
        </form>
        <p class="text--center">Not a member? <a href="signup" style="text-decoration: none; ">Sign up</a> <svg
                class="icon">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="assets/images/right-arrow-svgrepo-com">
                </use>
            </svg>
        </p>

        <div class="text-center">
            <span class="txt1">
                OR
            </span>
        </div>
        <div class="text-center">
            <a href="{{url}}" class="btn-google">
                <img src="assets/icon-google.webp" alt="GOOGLE">
                Google
            </a>
        </div>
        
    </div>
</section>