/* .align {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.grid {
    margin-left: auto;
    margin-right: auto;
    max-width: 320px;
    max-width: 20rem;
    width: 100%;
}

.icons {
    display: none;
}

.icon {
    display: inline-block;
    fill: #606468;
    font-size: 16px;
    font-size: 1rem;
    height: 1em;
    vertical-align: middle;
    width: 1em;
}


input, button {
    background-image: none;
    border: 0;
    color: inherit;
    font: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
}

button[type='submit'] {
    cursor: pointer;
}

.form input[type='password'],
.form input[type='text'],
.form input[type='email'],
.form button[type='submit'] {
    width: 100%;
}

.form__field {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 14px;
    margin: 0.875rem;
}

.form__input {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.login {
    color: #eee;
}

.login label,
.login input[type='text'],
.login input[type='email'],
.login input[type='password'],
.login button[type='submit'] {
    border-radius: 0.25rem;
    padding: 16px;
    padding: 1rem;
}

.login label {
    background-color: #363b41;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    padding-left: 20px;
    padding-left: 1.25rem;
    padding-right: 20px;
    padding-right: 1.25rem;
}

.login input[type='password'],
.login input[type='text'],
.login input[type='email'] {
    background-color: #3b4148;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.login button[type='submit'] {
    background: linear-gradient(to left, rgba(0, 0, 0, 0.753) 0%, rgba(26, 59, 242, 0.486) 100%);
    color: #080710;
    padding: 1.25rem 2.25rem;
    font-size: 0.85rem;
    font-weight: 700;
    text-transform: uppercase;
    color: lightgrey;
}

.login button[type='submit']:focus,
.login button[type='submit']:hover {
    background-color: rgba(23, 44, 241, 0.486);
    border-color: rgba(90, 134, 195, 0.486);
}
.text--center {
    text-align: center;
} */

.gradient-custom-2 {
    /* fallback for old browsers */
    /* background: #fccb90; */

    /* Chrome 10-25, Safari 5.1-6 */
    /* background: -webkit-linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593); */

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    /* background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593); */

    background: linear-gradient(to right, #590ea0, #330fb460, #1743e0, #4288d7);
}

section.gradient-form {
    height: 100vh !important;
    background-color: #eee;
    margin-top: 72px;
}

@media (min-width: 768px) {
    .gradient-form {
        height: 100vh !important;
    }
}

@media (min-width: 769px) {
    .gradient-custom-2 {
        border-top-right-radius: .3rem;
        border-bottom-right-radius: .3rem;
    }
}

@media (max-width: 768px) {
    *{
      font-size: small;
    }
    .title-form{
        font-size: 18px;
    }
  }

@media (max-width: 320px) {
    section.gradient-form {
        height: 100vh !important;
        margin-top: 50px;
    }
}

.divider:after,
.divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
}

.hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.form__field {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 14px;
    margin: 0.875rem;
}

form {
    padding: 8px;
}
